* {
  scroll-behavior: smooth;
  font-family: "Lucida Sans", sans-serif;
}
body {
  background: #5e80a094;
  padding: 20px;
  border: 2px solid #fffcfc;
  width: 80%;
  margin: auto; /*Центрирование блока по горизонтали.
   ! auto работает только в сочетании с width */
}
header,
main {
  background: #edf6ff;
  padding: 20px;
  border: 2px solid gray;
  /* margin: auto; /*Центрирование блока по горизонтали -избыточно */
}
.h1-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  visibility: hidden;
}
.header_nav {
  position: relative;
  top: 4px;
  display: flex;
  /*min-width: 420px;*/
  min-height: 10px;
  justify-content: space-between;
  align-items: center;
  /*flex-wrap: nowrap;*/
  text-align: center;
  margin: 5px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  /* width: 572px;*/
  min-width: 272px;
  font-size: 16px;
  line-height: 19px;
  flex-wrap: wrap;
}
.menu li {
  display: inline;
  padding: 4px;
}
.menu li a {
  color: black;
}
.menu li :hover {
  border-bottom: 1px solid currentColor;
  /*font-weight: 900;*/
}
.menu.active {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  min-height: 30vh;
}
.menu.active .nav_item {
  background: lightsteelblue;
}

.bar {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: grey;
}
.burger {
  display: none;
}
.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active .bar:nth-child(2) {
  opacity: 0;
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 520px) {
  .header_nav {
    justify-content: flex-end;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

footer {
  padding: 20px; /* Поля */
  border: 2px solid #ffffff; /* Параметры рамки */
  /* margin: auto; /*Центрирование блока по горизонтали -избыточно*/
}
