/* div {
  font: normal 15px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: rgb(7, 24, 119);
  text-align: left;
}*/
body {
  background: #5e80a094; /* Цвет фона */
  padding: 20px; /* Поля */
  border: 2px solid #fffcfc; /* Параметры рамки */
  /*margin: 10px; /* Отступы */
  width: 80%;
  margin: auto; /*Центрирование блока по горизонтали.
   ! auto работает только в сочетании с width */
}
header,
main {
  background: #edf6ff; /* Цвет фона */
  padding: 20px; /* Поля */
  border: 2px solid #ffb889; /* Параметры рамки */
  /* margin: auto; /*Центрирование блока по горизонтали -избыточно */
}

.h1-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  visibility: hidden;
}




footer {
  padding: 20px; /* Поля */
  border: 2px solid #ffffff; /* Параметры рамки */
  /* margin: auto; /*Центрирование блока по горизонтали -избыточно*/
}
